@charset "utf-8";
/* CSS Document */

/* WebPage Styling */

body {
  color:#000000;
  background-color:#FFFFFF;
  background-image:url('Background Image');
  background-repeat:no-repeat;
  font-family: 'Montserrat', sans-serif;
}

a  {
  color:#0000FF;
}

a:visited {
  color:#800080;
}
    
a:hover {
  color:#008000;
}
    
a:active {
  color:#FF0000;
}
	
.options {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.labels {
  font-size: 16px;
  width: 500px;
}

.inputs {
  width: 60%;
  height: 55px;
  border-radius: 5px;
  font-size: 15px;
}

.buttons {
  width: 200px;
  height: 55px;
  border-radius: 5px;
  border: solid 2px black;
  font-size: 20px;
  background-color: transparent;
  color: black;
  margin-left: 20px;
}

.buttons:hover {
  background-color: black;
  color: white;
}

/* Iframe Styling */

.outer {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -30px;
}

.myIframe {
position: relative;
padding-bottom: 50.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
border: solid black 1px;
}

.myIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#form {
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

#form input {
  margin-top: 20px;
}

#email {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  margin-right: 10px;
  font-size: 15px;
}

#email:hover {
  border: solid 1px #ffffff;
}

#email:focus {
  border: solid 1px #ffffff;
}

#submit {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 15px;
}

#submit:hover {
  background-color: ;
}

#icard {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	padding-top: 20%;
}

#skipEmail {
	background-color: transparent;
	border: none;
	padding-top: 10px;
	color: #ffffff;
}

#skipEmail:hover {
	text-decoration: underline;
	cursor: pointer;
}