@charset "utf-8";
/* CSS Document */

/* WebPage Styling */

body {
  color:#000000;
  background-color:white;
  background-image:url('Background Image');
  background-repeat:no-repeat;
  font-family: 'Montserrat', sans-serif;
}

textarea:hover, 
textarea:active, 
textarea:focus, 
.inputVideo:focus,
.inputStyles:focus,
.inputVideo:active,
.inputStyles:active,
.inputVideo:hover,
.inputStyles:hover,
.inputIframe:focus,
.inputIframe:active,
.inputIframe:hover,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

a  {
  color:#0000FF;
}

a:visited {
  color:#800080;
}
    
a:hover {
  color:#008000;
}
    
a:active {
  color:#FF0000;
}
	
.options {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.firstOption {
	width: 100%;
	margin-bottom: 20px;
}

.labels {
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

.firstLabel {
  font-size: 16px;
  width: 100%;
}

.inputVideo {
  width: 70%;
  height: 55px;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #82b1ff !important;
  font-size: 18px;
  padding-left: 10px;
}

.inputStyles {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #82b1ff !important;
  font-size: 18px;
  padding-left: 10px;
}

.checkBox {
	width: 30px;
	height: 30px;
	background-color: #ffffff !important;
	border: solid 2px #000000 !important;
}

.checkBox:hover {
	width: 30px;
	height: 30px;
}

.buttons {
  width: 25%;
  height: 55px;
  border-radius: 5px;
  border: solid 2px #82b1ff;
  font-size: 20px;
  background-color: transparent;
  color: #82b1ff;
  float: right;
}

.buttons:hover {
  background-color: #82b1ff;
  color: white;
}

/* Iframe Styling */

.outer {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -30px;
}

.myIframe {
position: relative;
padding-bottom: 50.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
border: solid black 1px;
}

.myIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#form {
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

#form input {
  margin-top: 20px;
  padding-left: 5px;
  
}

#email {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  margin-right: 10px;
  font-size: 15px;
}

#submit {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 15px;
}

#submit:hover {
  background-color: ;
}

#icard {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	padding-top: 20%;
}

#skipEmail {
	background-color: transparent;
	border: none;
	padding-top: 10px;
	color: #ffffff;
}

#skipEmail:hover {
	text-decoration: underline;
	cursor: pointer;
}